* {
    margin: 0;
    padding: 0;
    background-color: #b6ad90;
}

#container{
    border: 10px solid #333d29;
    background-color: #333d29;
    width: 350px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /*centered the calculator in the center when small display */
    
}

#display {
    border-radius: 20px;
    border: none;
    width: 90%;
    height: 70px;
    font-size: 3.5rem;
    text-align: right;
    color:#b6ad90;
    background-color: #333d29;
    padding-left: 20px;
    padding-right: 20px;
       
}

#btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;   
    border-radius: 20px;
    background-color: #333d29;
} 


button {
    border: 1px solid #a4ac86;
    border-radius: 20px;
    background-color: #936639;
    height: 2.5 rem;
    font-size: 2rem;
    color: #b6ad90;
}

.digit {
    background-color: #333d29;
}

button:hover {
    background-color: #656d4a;
}

button:active {
    background-color: #414833;
}

.equalSign {
    grid-column: 1 / span 4;
}




